YoDigital/Web References/net.azurewebsites.sgoweb/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Data_SQL_NonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_SQLQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Catalogo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data_SQL_NonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Data_SQL_NonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data_SQL_Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_SQLQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Catalogo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data_SQL_QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data_SQL_QueryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data_SQL_NonQueryBinario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_SQLQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Catalogo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="arrByte" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="Data_SQL_NonQueryBinarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data_SQL_NonQueryBinarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data_SQL_Async_Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_SQLQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Catalogo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data_SQL_Async_QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data_SQL_Async_QueryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Data_SQL_NonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:Data_SQL_NonQuery" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_NonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:Data_SQL_NonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Data_SQL_Query" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_QuerySoapOut">
    <wsdl:part name="parameters" element="tns:Data_SQL_QueryResponse" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_NonQueryBinarioSoapIn">
    <wsdl:part name="parameters" element="tns:Data_SQL_NonQueryBinario" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_NonQueryBinarioSoapOut">
    <wsdl:part name="parameters" element="tns:Data_SQL_NonQueryBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_Async_QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Data_SQL_Async_Query" />
  </wsdl:message>
  <wsdl:message name="Data_SQL_Async_QuerySoapOut">
    <wsdl:part name="parameters" element="tns:Data_SQL_Async_QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="SQLSoap">
    <wsdl:operation name="Data_SQL_NonQuery">
      <wsdl:input message="tns:Data_SQL_NonQuerySoapIn" />
      <wsdl:output message="tns:Data_SQL_NonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_Query">
      <wsdl:input message="tns:Data_SQL_QuerySoapIn" />
      <wsdl:output message="tns:Data_SQL_QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_NonQueryBinario">
      <wsdl:input message="tns:Data_SQL_NonQueryBinarioSoapIn" />
      <wsdl:output message="tns:Data_SQL_NonQueryBinarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_Async_Query">
      <wsdl:input message="tns:Data_SQL_Async_QuerySoapIn" />
      <wsdl:output message="tns:Data_SQL_Async_QuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQLSoap" type="tns:SQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Data_SQL_NonQuery">
      <soap:operation soapAction="http://tempuri.org/Data_SQL_NonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_Query">
      <soap:operation soapAction="http://tempuri.org/Data_SQL_Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_NonQueryBinario">
      <soap:operation soapAction="http://tempuri.org/Data_SQL_NonQueryBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_Async_Query">
      <soap:operation soapAction="http://tempuri.org/Data_SQL_Async_Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLSoap12" type="tns:SQLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Data_SQL_NonQuery">
      <soap12:operation soapAction="http://tempuri.org/Data_SQL_NonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_Query">
      <soap12:operation soapAction="http://tempuri.org/Data_SQL_Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_NonQueryBinario">
      <soap12:operation soapAction="http://tempuri.org/Data_SQL_NonQueryBinario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data_SQL_Async_Query">
      <soap12:operation soapAction="http://tempuri.org/Data_SQL_Async_Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL">
    <wsdl:port name="SQLSoap" binding="tns:SQLSoap">
      <soap:address location="http://sgoweb.azurewebsites.net/ws/sql/service.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLSoap12" binding="tns:SQLSoap12">
      <soap12:address location="http://sgoweb.azurewebsites.net/ws/sql/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>